.flex-box {
    display: flex;
}
.movie-card {
    height: 350px;
    overflow: hidden;
    margin: 20px 0;
    position: relative;
    color: #fff;
}
img {
    width: 200px;
    max-height: 275px;
}
.movie-details{
    padding: 1px;
    background: #f1c2c2;
    font-size: 20px;
    font-weight: 600;
    color:#302929;
}
.feedback {
    gap:20px;
}
.watch-container{
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
}
.add-card-icon {
    position: absolute;
    top: 130px
}
.text-center {
    text-align: center;
}
